.project-edit-content hr.or {
  border-top: 1px solid #ccc;
  color: #999;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.project-edit-content hr.or:after {
  content: "OR";
  position: relative;
  top: -0.7em;
  font-size: 1.1em;
  padding: 0 1em;
  background: white;
}

.git-fusion-import.form-group {
  margin-bottom: 0;
}

.form-group.disabled {
  opacity: 0.5;
}

.git-fusion-import .description {
  margin-top: 7px;
}

.git-fusion-import .split {
  margin-top: 10px;
  float: none;
}

.git-fusion-import .split .left {
  float: left;
  width: 50%;
}

.git-fusion-import .split .right {
  float: right;
  width: 45%;
}

.git-fusion-import .greyed {
  background-color: #ddd;
  padding: 2px 30px 2px 5px;
  whitespace: nowrap;
}

.git-fusion-import .repo-warning {
  margin-top: 1em;
}

.git-fusion-import .repo-select {
  text-align: center;
}

.git-fusion-import .select2-container {
  width: auto !important;
  max-width: 100% !important;
}

.git-fusion-import .git-fusion-radios {
  padding: 5px 0 0 15px;
}

.git-fusion-import .radio {
  margin-bottom: 10px;
}

.git-fusion-import .option-title {
  display: inline-block;
  font-weight: bold;
  color: #555;
}

.git-fusion-import .radio.disabled div {
  color: lighten(#555, 15)
}

.git-fusion-import .option-descr {
  color: #555;
}

// mirror existing project
span.mirror-button-wrapper {
  display: inline-block;
}

.git-fusion-mirroring-data {
  margin-top: 10px;
}

.mirroring-enable.form-actions {
  padding-left: 0px;
}

.mirroring-depot-path span.depot-path {
  // although not dangerous, use this to get the red color for the displayed depot path
  color: $brand-danger;
}
