.project-edit-content hr.or {
  border-top: 1px solid #ccc;
  color: #999;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.project-edit-content hr.or:after {
  content: "OR";
  position: relative;
  top: -0.7em;
  font-size: 1.1em;
  padding: 0 1em;
  background: white;
}

.git-fusion-import.form-group {
  margin-bottom: 0;
}

.form-group.disabled {
  opacity: 0.5;
}

.git-fusion-import .description {
  margin-top: 7px;
}

.git-fusion-import .split {
  margin-top: 10px;
  float: none;
}

.git-fusion-import .split .left {
  float: left;
  width: 50%;
}

.git-fusion-import .split .right {
  float: right;
  width: 45%;
}

.git-fusion-import .greyed {
  background-color: #ddd;
  padding: 2px 30px 2px 5px;
  whitespace: nowrap;
}

.git-fusion-import .repo-warning {
  margin-top: 1em;
}

.git-fusion-import .repo-select {
  text-align: center;
}

.git-fusion-import .select2-container {
  width: auto !important;
  max-width: 100% !important;
}

.git-fusion-import .git-fusion-radios {
  padding: 5px 0 0 15px;
}

.git-fusion-import .import-repo-wrapper {
  display: inline-block;
}

.git-fusion-import .git-fusion-radios label {
  width: 100%;
}

.git-fusion-import .radio {
  margin-bottom: 10px;
}

.git-fusion-import .option-title {
  display: inline-block;
  font-weight: bold;
  color: #555;
}

.git-fusion-import .radio.disabled div {
  color: lighten(#555, 15)
}

.git-fusion-import .option-descr {
  color: #555;
}

// mirror existing project
span.mirror-button-wrapper {
  display: inline-block;
}

.git-fusion-mirroring-data {
  margin-top: 10px;
}

.mirroring-enable.form-actions {
  padding-left: 0px;
}

.mirroring-depot-path span.depot-path {
  // although not dangerous, use this to get the red color for the displayed depot path
  color: $brand-danger;
}

.btn.helix-mirroring.disabled {
  pointer-events: none !important;
}

.git-fusion-file-selector-wrapper {
  cursor: default;

  .tree-save {
    float: right;
  }

  .current-mapping {
    float: left;
  }
}

.git-fusion-tree-holder {
  margin-top: 7px;
  border: none;
  padding: 0;

  .nothing-here-block {
    line-height: 26px;
  }

  .tree-status {
    background-color: #f7f8fa;
    border: 1px dashed #DDD;
    line-height: 26px;
    height: 26px;
    padding: 0 7px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 4px;
    text-align: right;
  }

  .saved-branches {
    margin-top: 18px;

    .default-branch-label {
      display: none;
      margin: 0 4px;
    }

    li.default-branch {
      .make-default-branch-text {
        display: none;
      }
      .default-branch-label {
        display: inline-block;
      }
    }

    .updating {
      border: 1px solid $border-orange-light;
      border-left-width: 5px;
      background: #FAFFBD;
    }

    .panel {
      margin-top: 7px;
    }

    .saved-branch-name {
      font-weight: bold;
    }

    .saved-branch-path {
      color: #5a5a5a;
    }
  }

  .tree-save .current-mapping-branch {
    font-weight: bold;
  }

  .branch-label {
    padding-right: $gl-padding;
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
  }

  .new-branch-name {
    display: inline-block;
    width: 200px;
    float: left;
  }

  .tree-title {
    font-family: $monospace_font;
    font-size: 90%;
    line-height: 42px;
    padding: 7px 16px 0 16px;
    position: relative;
    background: #f7f8fa;
    border: 1px solid #e7e9ed;

    .filter-actions {
      float: right;
      position: absolute;
      top: 5px;
      right: 15px;

      .btn {
        padding: 0px 10px;
        font-size: 13px;
        line-height: 28px;
      }
    }
  }

  .tree-content {
    background: #fff;
    border: 1px solid #e7e9ed;
    border-top: none;
    height: 250px;
    overflow: auto;
    position: relative;
  }
}

