- error = git_fusion_server_error || mirroring_errors(@project, current_user)
- if error && !error.empty?
  .helix-error
    %h4 Configuration Error:
    %p.fixed-width
      = error
  %p
    For help on configuring your Helix Git Fusion instances, have an admin
    = link_to 'see these directions.', help_page_path('workflow', 'importing', 'import_from_gitfusion'), target: '_blank'
