- page_title   'Helix Mirroring'
- header_title 'Helix Mirroring'

.git-fusion-mirroring
  %h2
    Helix Mirroring
  .description.slead
  - if @project.git_fusion_mirrored?
    -# currently mirrored, so show relevant mirroring settings and the disable button
    = render partial: 'perforce_swarm/git_fusion/projects/currently_mirrored_settings'
  - elsif @project.git_fusion_repo.present?
    -# project is not currently mirrored, but a repo is specified; it is a candidate for re-enabling mirroring
    = render partial: 'perforce_swarm/git_fusion/projects/previously_mirrored_settings'
  - else
    -# project isn't currently mirrored, so show the configure mirroring form
    = render partial: 'perforce_swarm/git_fusion/projects/configure_helix_mirroring'
:javascript
  $('.js-timeago').timeago()
