- if !@errors.empty?
  .mirroring-errors
    A problem was encountered while attempting to validate whether Helix
    mirroring can be enabled for the current project:
    = @errors.first
    Please see
    = link_to ' this document ', help_page_path('workflow', 'importing', 'import_from_gitfusion') + '#known-issues'
    for help.
- else
  .mirroring-depot-path
    Your project's branches will be mirrored to:
    %span.text-danger
      = @path_template
    .form-actions
      = link_to '#', class: 'btn' do
        Launch Mirroring
