.git-fusion-import-data
  - if !@errors.empty?
    .repo-warning.slead
      %h4 There was an error communicating with Git Fusion:
      = @errors.first
  - else
    - repos_options = git_fusion_repos(@repos)
    - if repos_options.empty?
      .repo-warning.slead
        Although Git Fusion is configured, there are no repos available for import.
    - else
      .repo-select.form-inline.control-group
        Repo:
        = select_tag(:git_fusion_repo_name, repos_options, class: 'select2 span2', disabled: 'true')
